<div class="row">
    <main class="col-md-12">
        <!-- Start your code here -->
        <h1>About</h1>
        <p>This is my about page</p>
        <h3>Helly Patel</h3>
        <p>
            <i class="fa fa-id-badge"></i> Student ID: hrpatel58 |
            <i class="fa fa-envelope"></i> Email: hrpatel58@myseneca.ca
        </p>
        <p>
            I'm a Student at seneca polytechnic
        </p>
        <!-- End your code here  -->
    </main>
</div>
